{% extends 'base.html' %}
{% block page_content %}
    <div class="page-header">
        <p>{{ current_time }}</p>
        <p>The local date and time is {{ moment(timestamp=current_time).format('LLL') }}</p>
        <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
        <p>{{ moment().calendar() }}</p>
        <p>The current date and time is: {{ moment(current_time).format('MMMM Do YYYY, h:mm:ss a') }}.</p>
        <p>Something happened {{ moment(current_time).fromTime(current_time) }}.</p>
        <p>{{ moment(current_time) }}.</p>
    </div>
{% endblock %}